@font-face {
  font-family: 'YuGothic';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/YuGothic-Medium.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: YuGothic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
