.container {
  background: linear-gradient(180deg, #FBFBFB 40.1%, #C2DCE7 67.71%, #7BB6CD 84.37%, #127DA7 100%);

  .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    .themeImage {
      position: relative;
      width: 100%;
      height: 40vh;
      margin: 10%;
    }
  }
}
